<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">ShaolinArts Tools</h1>
    </div>
</div>
<div class="topcoat-list__container scroller" style="top:138px;">
    <ul class="topcoat-list list">
        <li ng-repeat="tool in tools" class="topcoat-list__item">
            <a ng-click="go('{{tool.link}}')">
                <img ng-src="img/{{tool.pic}}">
                <p>{{tool.title}}</p>
            </a>
        </li>
    </ul>
</div>